.places__paragraph {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    margin: 0;
    padding-top: 25px;
    padding-right: 16px;
    padding-bottom: 0;
    padding-left: 16px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
}

.places__paragraph:first-child {
    padding-top: 28px;
}

@media screen and (min-width: 768px) {
    .places__paragraph {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 768px) {
    .places__paragraph:first-child {
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .places__paragraph {
        font-size: 18px;
        line-height: 29px;
    }
}