.places__article {
    padding-top: 50px;
}

.places__article:first-child {
    padding-top: 64px;
}

@media screen and (min-width: 768px) {
    .places__article:first-child {
        padding-top: 0;
    }
}

@media screen and (min-width: 768px) {
    .places__article {
        margin-right: auto;
        margin-left: auto;
        display: grid;
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
    }
}

@media screen and (min-width: 1024px) {
    .places__article {
        padding: 0;
        grid-template-columns: 440px 1fr;
        gap: 52px 32px;
    }
}

@media screen and (min-width: 1280px) {
    .places__article {
        max-width: 984px;
        grid-template-columns: 460px 1fr;
        gap: 52px 40px;
    }
}