.cover__subtitle {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 0 0 33px;
    max-width: 260px;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        max-width: 360px;
        margin-top: 33px;
        padding: 0 0 115px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__subtitle {
        padding: 0 0 62px;
    }
}