.cover__subtitle {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 16px auto 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    max-width: 260px;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        max-width: 360px;
        margin-top: 33px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }   
}

@media screen and (min-width: 1024px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
    }   
}