.footer__links {
    margin: 0;
    padding-top: 32px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

@media screen and (min-width: 768px) {
    .footer__links {
        padding-top: 0;
        padding-left: 18px;
    }
}

.footer__links:first-child {
    padding-top: 0;
}

@media screen and (min-width: 768px) {
    .footer__links:first-child {
        padding-left: 0;
    }
}