.intro {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 64px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .intro {
        max-width: 720px;
    }   
}

@media screen and (min-width: 1024px) {
    .intro {
        max-width: 928px;
    }   
}