.cover {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 320px;
    min-height: 200px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    
    /* position: relative; */
}

@media screen and (min-width: 768px) {
    .cover {

    }   
}

/* .cover::before {
    position: absolute;
    background-color: #000000;
    opacity: 0.3;
}

.cover:hover::before {
    opacity: 0.1;
} */