.cover {
    background-image: url(./../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 66px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    max-width: 100%;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .cover {
        margin-top: 90px;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        max-width: 1024px;
        margin-top: 92px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        max-width: 1184px;
    }
}