.cover {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 33px;
    padding-right: 16px;
    padding-bottom: 33px;
    padding-left: 16px;
    
    position: relative;
}

/* @media screen and (min-width: 768px) {
    .cover {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }   
} */

.cover::before {
    position: absolute;
    background-color: #000000;
    opacity: 0.3;
}

.cover:hover::before {
    opacity: 0.1;
}