/* Сброс параметров */
@import url(../vendor/normalize.css);
/* Конец */

/* Блок page */
@import url(../blocks/page/page.css);
/* Конец блока page */

/* Блок page__container */
@import url(../blocks/page/__container/page__container.css);
/* Конец блока page__container */

/* Блок header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_child/header__lang-link_last-child.css);
/* Конец блока header */

/* Секция lead */
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
/* Конец блока lead */

/* Секция intro */
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__lists/intro__lists.css);
@import url(../blocks/intro/__list/intro__list.css);
/* Конец блока intro */

/* Секция photo-grid */
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
/* Конец блока photo-grid */

/* Секция places */
@import url(../blocks/places/places.css);
@import url(../blocks/places/__item/places__item.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__title/_child/places__title_child.css);
@import url(../blocks/places/__website/places__website.css);
@import url(../blocks/places/__url/places__url.css);
@import url(../blocks/places/__link/places__link.css);
@import url(../blocks/places/__image/places__image.css);
@import url(../blocks/places/__paragraph/places__paragraph.css);
@import url(../blocks/places/__paragraph/_child/places__paragraph_child.css);
/* Конец блока places */

/* Секция cover */
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__link/cover__link.css);
/* Конец блока cover */

/* Секция footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__table/footer__table.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__links/_child/footer__links_child.css);
/* Конец блока footer */

/* Убираем нижнее подчеркивание ссылки и делаем underline */
@import url(../blocks/underline/underline.css);

/* opacity:hover 0.8 */
@import url(../blocks/opacity/opacity.css);