.cover__title {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto;
    padding-top: 33px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    max-width: 288px;
}

@media screen and (min-width: 768px) {
    .cover__title {
        max-width: 560px;
        padding-top: 115px;
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__title {
        padding-top: 195px;
    }
}

@media screen and (min-width: 1280px) {
    .cover__title {
        padding-top: 245px;
    }
}