.cover__title {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 16px;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

@media screen and (min-width: 768px) {
    .cover__title {
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        margin: 0;
        padding-top: 115px;
        padding-right: 104px;
        padding-left: 104px;
        color: #FFFFFF;
    }   
}

@media screen and (min-width: 1024px) {
    .cover__title {
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        margin: 0;
        padding-top: 115px;
        padding-right: 104px;
        padding-left: 104px;
        color: #FFFFFF;
    }   
}