.intro__title {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    color: #FFFFFF;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;    
}

@media screen and (min-width: 768px) {
    .intro__title {
        font-size: 54px;
        line-height: 58px;
    }   
}